@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Lora, Georgia, 'Times New Roman', Times, serif;
}

hr {
    height: 2px;
    background-color: #fab835;
    border: 0;
}

header {
    display: grid;
}

#title {
    font-size: 200%;
    text-align: center;
    color: #290d24;
}

header hr {
    width: 100%;
}

header nav {
    justify-self: end;
    display: grid;
    height: 35px;
    grid-template-columns: auto auto auto auto;
}

header nav * {
    margin-right: 40px;
    height: 100%;
    grid-template-rows: 1/2;
    text-align: center;
    font-size: 125%;
    text-decoration: none;
    color: #b53648;
}

main {
    padding-top: 35px;
    padding-bottom: 35px;
}

.book-review {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

.book-review hr {
    grid-column: 1/3;
    width: 100%;
}

.book-review-title, .book-review-image, .book-review-description {
    grid-column: 1/2;
    padding-left: 30px;
    margin: 3% auto;
}

.book-review-date, .book-review-ages, .book-review-genre, .book-review-rating {
    grid-column: 2/3;
    padding-right: 30px;
    text-align: right;
    font-size: 110%;
}

.book-review-title {
    font-size: 175%;
    color: #b53648;
}

.book-review-description, footer p {
    font-size: 110%;
}

footer p {
    text-align: center;
}

@media screen and (min-width: 700px) {
    .book-review {
        grid-template-columns: auto auto auto;
        max-width: 750px;
    }
    .book-review-date, .book-review-ages, .book-review-genre, .book-review-rating {
        grid-column: 1/2;
        width: 125px;
    }
    .book-review hr {
        grid-column: 2/3;
        grid-row: 1/7;
        width: 2px;
        height: 95%;
    }
    .book-review-title, .book-review-image, .book-review-description {
        grid-column: 3/4;
    }
    .book-review-title {
        grid-row: 1/2;
        margin: auto 0;
    }
    .book-review-image {
        grid-row: 2/6;
        width: 250px;
    }
}